@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>EncoreTIX</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        body {
            background-color: #182F40;
            color: white;
            font-family: 'Inter', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            flex-direction: column;
        }
        h1 {
            font-size: 3rem;
            font-weight: 600;
        }
    </style>
    <script>
        setTimeout(function() {
            window.location.href = '/Home/Index?query=Phish';
        }, 2000);
    </script>
</head>
<body>
    <img src="~/images/logo.svg" alt="EncoreTIX Logo" style="width: 200px; height: auto; margin-bottom: 20px;" />
</body>
</html>
